.map{
    <image src:"usa-map"
}

.circle{
    color:red;
    border-radius:25%;
    width:12px;
    height:12px;
}

#acadia{
    top:300px;
    left:300px
}
#acadia{
    top:300px;
    left:300px
}
#acadia{
    top:300px;
    left:300px
}
#acadia{
    top:300px;
    left:300px
}
#acadia{
    top:300px;
    left:300px
}
#acadia{
    top:300px;
    left:300px
}
#acadia{
    top:300px;
    left:300px
}
#acadia{
    top:300px;
    left:300px
}
#acadia{
    top:300px;
    left:300px
}
#acadia{
    top:300px;
    left:300px
}
#acadia{
    top:300px;
    left:300px
}
#acadia{
    top:300px;
    left:300px
}
#acadia{
    top:300px;
    left:300px
}
#acadia{
    top:300px;
    left:300px
}
