@CHARSET "UTF-8";

.bigThing{
    width:100px;
    height:100px;
    display:inline-block;
    border-radius:20px;
    text-align:center;
    line-height:100px;
    overflow:hidden;
    color:white;
    font-weight:bold;
    
    
}
.smallThing{
    font-family: "Kranky";
    width:50px;
    height:50px;
    overflow:hidden;
    line-height:50px;
    margin:25px;
    font-size:40px;
}
.color1{
    background-color:darkgreen
}
.color2{
    background-color:orange
}
.color3{
    background-color:darkblue
}
.circle{
    border-radius:50%

}

#display{
    height:30px;
    width:500px;
    border:1px solid black; 
    color:white;
    border-radius:12px;
}