@CHARSET "UTF-8";

.bigThing{
width:100px;
height:100px;
font-weight:bold;
line-height:100px;
text-align:center;
display:inline-block;
overflow:hidden;
border-radius:20px;
color:white;

}
.smallThing{
    font-family: "Kranky";
    width:50px;
    height:50px;
    line-height:50px;
    font-size:40px;
    overflow:hidden;
    margin:25px
    
}
.color1{
background-color:darkgreen;
}
.color2{
background-color:orange;
}
.color3{
background-color:darkblue;
}
.circle{
border-radius:50%;
}

#display}